/* You can add global styles to this file, and also import other style files */

:root
    --blue-dark: #014898
    --yellow: #ffcd23
    --blue: #027ac6

body 
    background: var(--blue)

.bg-yellow
    background: var(--yellow)

.text-blue-dark
    color: var(--blue-dark)