<div style="background-image: url('/assets/img/bg-rutas-active.png'); background-position: center 0; background-repeat: no-repeat; background-size: 55%;" class="pb-5">
<div class="row justify-content-center"><div class="col-6">
        <div class="text-center">
            <a routerLink="/rutas/ruta-2">
                <img src="/assets/img/ruta-2.png" alt="" width="200px" class="img-fluid my-4">
            </a>
        </div>
    </div><div class="col-6">
        <div class="text-center">
            <a routerLink="/rutas/ruta-3">
                <img src="/assets/img/ruta-3.png" alt="" width="200px" class="img-fluid my-4">
            </a>
        </div>
    </div><div class="col-6">
        <div class="text-center">
            <a routerLink="/rutas/ruta-1">
                <img src="/assets/img/ruta-1.png" alt="" width="200px" class="img-fluid my-4">
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="text-center">
            <a routerLink="/rutas/ruta-4">
                <img src="/assets/img/ruta-4.png" alt="" width="200px" class="img-fluid my-4">
            </a>
        </div>
    </div>
    
    
    
   
    
    
    
  </div>
  </div>
